.PageSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 600px;
    width: 100vw;
}

.PageSection .section-header {
    font-size: 1.8em;
}