.PageSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 600px;
  width: 100vw;
}

.PageSection .section-header {
  font-size: 1.8em;
}

@media (max-width: 480px) {
  .PageSection {
    font-size: 0.8em;
  }
}
